.container {
  display: flex;
  flex-direction: row;
  column-gap: 10vw;
}

.image_container {
  position: relative;
  width: 500px;
  height: 500px;
}

.background {
  max-width: 500px;
  max-height: 500px;
  z-index: 0;
}

.alpaca_part {
  max-width: 500px;
  position: absolute;
  left: 0;
  z-index: 1;
}

.customize {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.customize h2 {
  font-size: 18px;
  font-weight: 800;
  color: var(--primary-text);
  margin: 0;
}

.button_group {
  margin-top: 30px;
  width: 1005;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.pillbutton_group {
  margin-top: 10px;
  display: flex;
  column-gap: 5px;
  row-gap: 5px;
  flex-wrap: wrap;
  width: 300px;
}

.active_button {
  border: 2px solid #23509c;
  background-color: #23509c;
  color: white;
  padding: 10px 25px;
  border-radius: 20px;
}

.inactive_button {
  background-color: transparent;
  padding: 10px 25px;
  border: 2px solid #abc1e3;
  border-radius: 20px;
  color: #abc1e3;
}

.inactive_button:hover {
  border: 2px solid #23509c;
  color: #23509c;
  font-weight: 600;
}